Here's a basic implementation of support vector machines (SVM) in Python using the scikit-learn library. 

This code is implemented on a CSV file -  uber_nyc_enriched.csv. 

The code loads the data into NumPy arrays, splits it into training and testing sets, trains an SVM model, evaluates the model on the test data, and makes a prediction for a new sample. The accuracy and the prediction are printed to the console.

In [ ]:
import pandas as pd

In [ ]:
# Load the dataset
df = pd.read_csv ('uber_nyc_enriched.csv')
df

,pickup_dt,borough,pickups,spd,vsb,temp,dewp,slp,pcp01,pcp06,pcp24,sd,hday
0,2015-01-01 01:00:00,Bronx,152,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
1,2015-01-01 01:00:00,Brooklyn,1519,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
2,2015-01-01 01:00:00,EWR,0,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
3,2015-01-01 01:00:00,Manhattan,5258,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
4,2015-01-01 01:00:00,Queens,405,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29096,2015-06-30 23:00:00,EWR,0,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
29097,2015-06-30 23:00:00,Manhattan,3828,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
29098,2015-06-30 23:00:00,Queens,580,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
29099,2015-06-30 23:00:00,Staten Island,0,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
29100,2015-06-30 23:00:00,NaN,3,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N

In [ ]:
#Performing simple exploratory data analysis

df.columns

Index(['pickup_dt', 'borough', 'pickups', 'spd', 'vsb', 'temp', 'dewp', 'slp',
       'pcp01', 'pcp06', 'pcp24', 'sd', 'hday'],
      dtype='object')

In [ ]:
df=df.drop(columns=['pickup_dt','borough'])

In [ ]:
import numpy as np

In [ ]:
from sklearn.model_selection import train_test_split
x=df.drop(['hday'],axis='columns')
y=df.hday

In [ ]:
from sklearn import preprocessing
from sklearn import utils

In [ ]:
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y_transformed,train_size=0.2,random_state=1)

In [ ]:
# Train the SVM model
from sklearn.svm import SVC
model = SVC()
model.fit(xtrain, ytrain)

SVC()

In [ ]:
# Predict the response 
ypred = model.predict(xtest)

In [ ]:
model.score(xtest, ytest)

0.9607834715003651

This is a basic implementation and we  need to modify the code to suit the requirements of the project, such as using a different type of SVM, handling missing data, or tuning the hyperparameters of the model.